<style>
    #myShare line {
        stroke-dasharray: 125;
        stroke-dashoffset: 0;
    }

    #myShare circle {
        stroke-dasharray: 80;
        stroke-dashoffset: 0;
        fill: url(#white_blue);
    }

    #myShare line.ng-enter {
        transition: all 0.4s linear;
        stroke-dashoffset: 125;
    }

    #myShare circle.ng-enter {
        transition: all 0.2s linear;
        stroke-dashoffset: 80;
    }

    #myShare line.ng-enter-active, #myShare circle.ng-enter-active {
        stroke-dashoffset: 0;
    }

    #myShare text {
        -webkit-animation: ani-fadeIn 0.4s ease-out both;
    }

    @-webkit-keyframes ani-fadeIn {
        from {
            fill-opacity: 0;
        }
        to {
            fill-opacity: 1;
        }
    }
</style>

<ion-view title="我的足迹">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <a menu-toggle="left" class="button button-clear" href="#/menu/tab/home">
                <i class="icon ion-ios-arrow-back"></i>返回
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content id="myShare">
        <svg id="svg-share" version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%">
            <radialGradient id="white_blue" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" style="stop-color: rgb(255,255,255);stop-opacity:1"></stop>
                <stop offset="100%" style="stop-color:#3FA9F5;stop-opacity:1"></stop>
            </radialGradient>
        </svg>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%"
                ng-if="moreDataCanBeLoaded()"
                >
        </ion-infinite-scroll>
    </ion-content>
</ion-view>