<style>
    .label-search{
        height: 30%;
        border-radius: 40px;
        padding: 1em;
        background: url('img/label-wenzi.png') 50% 100% no-repeat;
        background-size: 70%;
    }
    .label-search .badge{
        display: inline-block;
        min-width: 10px;
        padding: .25em .625em;
        font-size: 1.2rem;
        font-weight: 700;
        color: #fff;
        line-height: 1;
        vertical-align: baseline;
        white-space: nowrap;
        text-align: center;
        background-color: #dd514c;
        margin:.5rem;
    }
    .label-wrap{
        height:100px;
        position:relative;
    }
    .label-col{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -30px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #6dff36;
        color: #fff;
        -webkit-transform: translate3D(0,0,0);
        transform: translate3D(0,0,0);
        display: inline-block;
        z-index: 1;
        background-size:60px 60px;
    }
    .label-close{
        background: rgba(0,0,0,0.4);
        -webkit-transform: rotate(45deg);
    }
    .label-name{
        padding-top: 60px;
        text-align: center;
        position: absolute;
        display: block;
        width: 100%;
    }
    .ani-label-add{
        -webkit-animation:ani-label-add 0.8s linear;
        animation:ani-label-add 0.8s linear;
    }
    @-webkit-keyframes ani-label-add  {
        80%{
            -webkit-transform: translate3D(0,-150px,0);
            transform: translate3D(0,-150px,0);
        }
        100%{
            transform:translate3D(0,-150px,0) scale(0.2,0.2);
            -webkit-transform:translate3D(0,-150px,0) scale(0.2,0.2);
        }
    }
    .label-close.ng-hide-remove{
        -webkit-animation: ng-hide-remove 0.5s ease-out both;
        display:block;!important;
    }
    @-webkit-keyframes ng-hide-remove{
        from{
            -webkit-transform: rotate(0deg);
        }
    }


    .label-close.ng-hide-add{
        -webkit-animation: ng-hide-add 0.5s ease-out both;
    }
    @-webkit-keyframes ng-hide-add{
        to{
            -webkit-transform: rotate(-90deg) scale(0.2,0.2);
        }
    }
</style>

<ion-view view-title="选择标签">
    <ion-nav-buttons side="right">
        <button  class="button" ng-click="nextPage()">下一步</button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div class="label-search">
            <span class="badge" ng-repeat="label in share_labels">{{label}}</span>
        </div>
        <ul class="row row-wrap">
            <label-wrap class="col-25 label-wrap" ng-repeat="label in labelsList">
                    <label-add class="label-col" name="{{label.name}}" bg="{{label.image}}"></label-add>
                    <label-remove ng-show="label.on" class="label-col label-close" name="{{label.name}}" ></label-remove>
                    <span class="label-name">{{label.name}}</span>
            </label-wrap>
        </ul>
    </ion-content>
</ion-view>