<style>


    .ani-discover-add{
        -webkit-animation:ani-discover 0.8s  cubic-bezier(0.74, 1.61, 0.59,-0.4) both;
    }


    @-webkit-keyframes ani-discover{
        from{
            -webkit-transform: scale(0);
        }
    }

    .ani-scale-big{
        -webkit-animation: ani-scale-big 0.4s linear both;
    }

    @-webkit-keyframes ani-scale-big{
        to{
            -webkit-transform: scale(2);
        }
    }

    #settingLayer{
        position:absolute;
        background:url('img/ionic.png') no-repeat;
        width:40px;
        left:10px;
        bottom:160px;
        height:40px;
        z-index:8;
        border-radius: 50%;
        background-size:40px 40px;
    }
    #labelCount{
        display: block;
        position: absolute;
        padding: 0.5em;
        background: red;
        top: -1px;
        left: 23px;
        z-index: 2;
        border-radius: 50%;
        line-height: 6px;
    }


    #nav .bar-subheader .button-clear{
        font-size:12px;
        color:#000;
        border-left:1px solid rgba(204, 204, 204, 0.4);
    }
    #nav .bar-subheader .button-clear:first-child{border-left:none}

    .nav-dropdown-wrap{
        position:absolute;
        left:0;
        width:100%;

    }


</style>
<ion-view view-title="自由筛选" id="nav">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div ng-click="openSetting2()">
            <span id="labelCount" ng-show="labelCount">{{labelCount}}</span>
            <button class="button button-icon icon ion-ios-list-outline"></button>
        </div>
    </ion-nav-buttons>

    <drop-down class="bar bar-subheader" style="border-bottom:1px solid rgba(204, 204, 204, 0.4)">
            <sub-drop-down class="list" title="{{labelsList[config.nowLabel].name}}">
                <ion-radio ng-repeat="label in labelsList" name="label" ng-model="config.nowLabel" ng-value="label.value">{{label.name}}</ion-radio>
            </sub-drop-down>

            <sub-drop-down class="list" title="{{orderList[config.nowOrder].name}}">
                <ion-radio ng-repeat="order in orderList" name="order" ng-model="config.nowOrder" ng-value="order.value">{{order.name}}</ion-radio>
            </sub-drop-down>

            <sub-drop-down class="list" title="选项">
                <ion-toggle ng-model="config.toggleNav" toggle-class="toggle-calm">开启导航</ion-toggle>
            </sub-drop-down>
    </drop-down>

    <ion-content class="has-subheader" scroll="false">
        <div id="settingLayer" ng-click="panToCenter()" ></div>
        <div id="map2" class="map"></div>
    </ion-content>

    <div class="bar bar-subfooter" style="height:155px;background:rgba(0,0,0,0.6);z-index:8">
        <ion-slide-box show-pager="false"  on-slide-changed="slideChange($index)">
            <ion-slide ng-repeat="share in shareList|limitTo:5" style="height:140px;">
                <a  ng-href="#/menu/tab/nav-share/{{share.share_id}}"  style="height:100%;width:100%;display:flex;justify-content: center;align-items:center">
                    <div ng-show="share.share_imgs" style="height:110px;width:50%;background-repeat:no-repeat;background-size:cover" ng-style="{'background-image':'url({{share.share_imgs|convertImgStr:true}})'}">
                    </div>
                    <div class="padding-left">
                        <p class="light">
                            <i class="icon ion-ios-location assertive"></i>
                            {{$index+1}}. {{share.share_place}}
                        </p>
                        <p style="color: rgb(0, 255, 158);">
                            {{share.share_text}}
                        </p>
                    </div>
                </a>
            </ion-slide>
        </ion-slide-box>

    </div>
</ion-view>
