
<ion-view view-title="选择照片" id="addImg">

    <ion-content scroll="true" style="bottom:163px">
        <div class="list card">
            <ion-item class="item-divider item-avatar-left item-icon-right">
                <img src="img/figure.png" alt="" style="top:1px"/>照片
                <i ng-click="addImage()" class="icon ion-plus-round positive"></i>
            </ion-item>
        </div>
        <ul class="row row-wrap">
            <li class="col col-33" ng-repeat="img in tpl_list">
                <div class="pic-wrap" delete-item>
                    <div class="pic-progress-wrap"><div class="pic-progress"></div></div>
                    <span ng-show="img.close" class="pic-delete-btn"></span>
                    <div ng-class="{ani_shake:img.close}" class="pic-content" ng-style="{'background-image':'url('+img.url+')'}"></div>
                </div>
            </li>
        </ul>
    </ion-content>

    <div class="bar bar-light bar-subfooter" style="height:120px">
        <div>
            <a class="button button-balanced button-block" ng-click="submitShare()">发布</a>
            <a href="" class="button button-assertive button-block">清除</a>
        </div>
    </div>

</ion-view>
