<style>
    input.ng-invalid.ng-invalid-required{
        border:1px solid red;
    }
</style>

<ion-view view-title="选择地点">
    <ion-nav-buttons side="right">
        <button  class="button" next-pos-btn target="{{share.share_place}}" path="/menu/tab/add-label">下一步</button>
    </ion-nav-buttons>

    <div class="bar bar-positive bar-subheader row">
        <div class="col-80">
            <input id="searchTxt" ng-model="searchText" type="text" style="width:100%" placeholder="搜索地点..."/>
        </div>
        <div class="col-20">
            <button ng-click="searchPos()" class="button button-positive button-icon icon ion-search"></button>
        </div>

    </div>
    <ion-content class="has-subheader"  scroll="false">
        <div id="map1" class="map"></div>
    </ion-content>

    <div class="bar bar-light bar-subfooter row">
            <button ng-click="currentPos()" class="button button-icon icon ion-navigate" style="color: #11c1f3;">
            </button>
            <input required type="text" ng-model="share.share_place" style="width:100%" placeholder="地点名称..."/>
    </div>
</ion-view>
