<ion-view view-title="选择地点">
    <ion-nav-buttons side="right">
        <button  class="button" ng-click="vm.nextPage()">下一步</button>
    </ion-nav-buttons>

    <div class="bar bar-positive bar-subheader">
        <div class="list list-borderless">
            <div class="item item-input-inset positive-bg" style="padding:0">
                <label class="item-input-wrapper">
                    <input id="searchTxt" ng-model="vm.searchText" type="text" style="width:100%" placeholder="搜索地点..."/>
                </label>
                <button ng-click="vm.searchPos(vm.searchText)" class="button button-small button-positive button-icon icon ion-search"></button>
            </div>
        </div>
    </div>

    <ion-content class="has-subheader"  scroll="false">
        <div id="add-pos-map" class="map"></div>
    </ion-content>

    <div class="bar bar-light bar-subfooter" style="bottom: 62px;padding:0">
        <div class="list">
            <div class="item item-input-inset">
                <button ng-click="vm.currentPos()" class="button button-icon">
                    <i class="ion-navigate positive icon"></i>
                </button>

                <label class="item-input-wrapper">
                    <input required type="text" style="width: 100%" ng-model="vm.place" placeholder="地点名称..."/>
                </label>
            </div>
        </div>
    </div>
</ion-view>
