<ion-view view-title="选择标签">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="vm.nextPage()">下一步</button>
    </ion-nav-buttons>

    <ion-content scroll="false">
        <div class="add-label-search">
            <span class="badge" ng-repeat="label in vm.labelsArray">{{label}}</span>
        </div>


        <ul class="row row-wrap">
            <label-wrap class="col-25 add-label-wrap" ng-repeat="label in vm.labelsList">
                <label-add class="add-label-col" name="{{label.name}}" bg="{{label.image}}"></label-add>
                <label-remove ng-show="label.on" class="add-label-col add-label-close" name="{{label.name}}" ></label-remove>
                <span class="add-label-name">{{label.name}}</span>
            </label-wrap>
        </ul>
    </ion-content>
</ion-view>
