<ion-view view-title="导航">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button  class="button button-icon icon ion-search"></button>
    </ion-nav-buttons>


    <drop-down>
        <sub-drop-down  title="分类">
            <ion-radio ng-repeat="label in vm.labelsList" name="label" ng-model="vm.query.label" ng-value="label._id" ng-change="vm.getShareList({icon: label.icon})">{{label.name}}</ion-radio>
        </sub-drop-down>

        <sub-drop-down title="排序">
            <ion-radio name="order" ng-model="vm.query.orderBy" ng-value="'score'" ng-change="vm.getShareList()">推荐</ion-radio>
            <ion-radio name="order" ng-model="vm.query.orderBy" ng-value="'near'" ng-change="vm.getShareList()">距离</ion-radio>
            <ion-radio name="order" ng-model="vm.query.orderBy" ng-value="'date'" ng-change="vm.getShareList()">最新</ion-radio>
        </sub-drop-down>

        <sub-drop-down title="选项">
            <ion-toggle ng-model="config.toggleNav" toggle-class="toggle-calm">开启导航</ion-toggle>
        </sub-drop-down>
    </drop-down>

    <ion-content class="has-subheader"  scroll="false">
        <ion-slide-box  on-slide-changed="vm.slideChange($index)" style="height:30%;">
            <ion-slide  ng-repeat="share in vm.shareList | limitTo:5 track by share._id">
                <img ng-src="{{share.images[0]}}" alt="" width="100%"/>
            </ion-slide>
        </ion-slide-box>

        <div id="home-map" class="map"></div>

        <div class="home-location" ng-click="vm.getLocation()">
        </div>
    </ion-content>
</ion-view>
