<ion-view title="登录">


    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">用户名</span>
                <input type="text" ng-model="vm.user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">密码</span>
                <input type="password" ng-model="vm.user.password">
            </label>
        </div>

        <button class="button button-block button-positive" ng-click="vm.login(vm.user)">
            登录
        </button>

    </ion-content>
</ion-view>
