<ion-view view-title="选择照片" id="addImg">

    <ion-content scroll="true" style="bottom:163px">
        <div class="list card">
            <ion-item class="item-divider item-avatar-left item-icon-right">
                <img src="../app/images/figure.png" alt="" style="top:1px"/>照片
                <i ng-click="vm.addImageByApp()" class="icon ion-plus-round positive"
                   ng-show="ionic.Platform.device().available"></i>

                <i ng-hide="ionic.Platform.device().available"
                   ngf-select ng-model="vm.pictureFile"
                   ngf-pattern="'image/*'"
                   ngf-multiple='false'
                   ngf-change="vm.addImageByWeb($file)"
                   ngf-resize="{width: 500, height: 300}"
                   accept="image/*"
                   ngf-max-size="3MB"
                   class="icon ion-plus-round positive"></i>
            </ion-item>
        </div>
        <ul class="row row-wrap">
            <li class="col col-33" ng-repeat="img in vm.images">
                <div class="add-img-wrap">
                    <span class="add-img-delete" ng-click="vm.removeImage($index)"></span>
                    <div class="add-img-content"
                         ng-style="{'background-image':'url('+img+')'}"></div>
                </div>
            </li>
        </ul>
    </ion-content>

    <div class="bar bar-light bar-subfooter" style="height:120px">
        <div>
            <a class="button button-balanced button-block" ng-click="vm.submitShare()">发布</a>
            <a href="" class="button button-assertive button-block" ng-click="vm.clearShare()">清除</a>
        </div>
    </div>

</ion-view>
